@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.logo,
.menu,
hr,
.baner1,
.baner2,
.prendas,
.baner6,
.informacion
{
    text-align: center;
}
.menu{
    padding-top: 20px;
}

.menu nav a{
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

hr{
    width: 980px;
    height: 2px;
    background-color: black;
}

.baner1,
.baner2{
    padding: 10px;
}

.baner3,
.baner4,
.baner5{
    display: inline-block;
    margin: 18px;
    margin-bottom: auto;
}

.prendas p{
    border: 2px black solid;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin-top: auto;
}

.baner6 {
    margin-top: auto;
}

.suscripcion,.tiendas,.redes{
    display: inline-block;
    margin: 18px;
    margin-bottom: auto;
    margin-top: auto;
}

.tiendas{
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

